/* TEMP STYLES */

.social .container,
.icons,
.icons li {
	/*border: 1px solid Chocolate;*/
}

/* Main Styles */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
}

nav,
.masthead,
h1,
h2,
.cases,
.social {
	width: 100%;
}

h1,
h2,
h3 {
	text-align: center;
	font-weight: 300;
}

h1 {
	font-size: 3.125rem;
}

h2 {
	font-size: 2.75rem;
}

h3 {
	font-size: 1.563rem;
}

h4 {
	font-weight: 400;
	box-sizing: border-box;
}

/* Navigation */

nav {
	background-color: #fff;
	position: fixed;
	z-index: 99;
	border-bottom: 1px solid #eaebec;
}

.container {
	margin: 0 auto;
	min-width: 40rem;
	min-height: 70px;
	padding: 0 2%;
	text-align: center;
}

.logo,
.nav-links {
	margin-top: 13px;
}

.nav-links,
.links,
.links a {
	display: inline-block;
	height: 39px;
}

.nav-links {
	list-style: none;
	float: right;
}

.links {
	padding: 0 0.75em;
	letter-spacing: 0.03em;
}

.links a {
	-webkit-transition: color 600ms ease;
    -moz-transition: color 500ms ease;
    -o-transition: color 600ms ease;
    transition: color 600ms ease;
	color: #828993;
	padding-top: 13px;
	text-decoration: none;
}

.links a:hover {
	color: #333;
	cursor: pointer;
}

.links > .active {
	color: #4B5057;
	font-weight: 500;
}

/* Cover Image */

.masthead {
	position: absolute;
	top: 70px;
	min-height: 665px;
	background: #eee url("../img/cover.jpg") center center no-repeat;
	background-size: cover;
	color: #fff;
}

.masthead h1 {
	margin-top: 15.5rem;
	margin-bottom: 0;
}

.masthead h2 {
	margin-top: 1.25rem;
	margin-bottom: 0;
}

.big-button {
	border: none;
	border-radius: 4px;
	-webkit-transition: background-color 600ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 600ms ease;
    transition: background-color 600ms ease;
	background-color: #F95634;
	font-size: 1.2rem;
	line-height: 1.33;
	padding: 16px 24px;
	margin: 2rem 0.358rem 0;
	width: 10rem;
}

.big-button:hover {
	background-color: #d9400e;
  	border-color: #cf3d0e;
  	cursor: pointer;
}

/* Page Content */

.cases {
	position: absolute;
	top: 735px;
	padding: 5.875rem 0 10rem;
}

.devices {
	list-style: none;
}

.devices li {
	display: inline-block;
	float: left;
	width: 30%;
	margin: 0 1%;
}

/* Footer */

.social {
	position: absolute;
	top: 1355px;
	padding: 5.875rem 0 10rem;
}

.social > .container {
	border-top: 1px solid #eaebec;
}

.icons {
	list-style: none;
	padding: 0;
}

.icons li {
	display: inline-block;
	margin: 0 0.5rem;
	padding: 0.5rem;
	width: 2.325rem;
	height: 2.325rem;
	border-radius: 50%;
	border: 1px solid #eaebec;
}

.social .twitter {
	color: #55acee;
}

.social .facebook {
	color: #4c66a4;
}

.social .instagram {
	color: #3f729b;
}

.social .copy {
	font-size: 0.9rem;
	font-weight: 300;
	color: #838994;
}

/* Media Queries */

@media (min-width: 600px) {
	.container {
		max-width: 60rem;
	}
}

