/* TEMP STYLES */

body {
	background-color: LightGray;
	min-height: 3000px;
}

/*nav {
	border: 1px solid Chocolate;
}*/

/* Main Styles */

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
}

/* Navigation */

* {
	box-sizing: border-box;
}

nav {
	background-color: #fff;
	position: fixed;
	width: 100%;
}

.nav-container {
	margin: 0 auto;
	min-width: 40rem;
	min-height: 70px;
	padding: 0 2%;
}

.logo,
.nav-links {
	margin-top: 13px;
}

.nav-links,
.links,
.links a {
	display: inline-block;
	height: 39px;
}

.logo {
	float: left;
}

.nav-links {
	list-style: none;
	float: right;
}

.links {
	padding: 0 0.75em;
	letter-spacing: 0.03em;
}

.links a {
	-webkit-transition: color 600ms ease;
    -moz-transition: color 600ms ease;
    -o-transition: color 600ms ease;
    transition: color 600ms ease;
	color: #828993;
	padding-top: 13px;
	text-decoration: none;
}

.links a:hover {
	color: #333;
	cursor: pointer;
}

.links > .active {
	color: #4B5057;
	font-weight: 500;
}

@media (min-width: 600px) {
	.nav-container {
		max-width: 60rem;
	}
}